<%- include ('partials/header.ejs') %>
<body>

<%- include ('partials/navbar.ejs') %>
<img src="/img/alien2.jpg" class='' id='yy'>

<div class='container'><hr>
<div class="col text-center">

     <h1>Site voltado para relatos de pessoas que tiveram contato com aliens</h1>

     <a class='btn btn-dark' href='/reports'>Enviar Relato</a>
</div>

</div>

</body>
<%- include ('partials/footer.ejs') %>
