body{
  background-color: #eceff1;
}

@font-face{
    font-family: 'x';
    src: url("/font/The X-Files.ttf")
  }

  h4 {
    font-family: "x", sans-serif;

   font-size: 18pt;
  padding: 5px;
  margin-bottom: -7px;


color: rgb(249, 250, 249)

   
  }

#xx{
  height: 500px;
  width: 700px;
}
 
#x1{
     background-color: black;
}

#yy{
  height: 250px;
  width: 100%;

}

